.images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container {
  width: 400px;
}

h1 {
  text-align: center;
}

.image-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-color: grey;
  color: #fff;
  font-size: 60px;
}
